<footer class="section has-background-dark has-text-white">
    <div class="container">
        <div class="level">
            <div class="level-item">
                <p class="has-text-centered">
                    <span class="has-text-weight-bold">
                    Amherst Community Band</span>
                    <span> Copyright 2025 </span>
                </p>
            </div>
        </div>
    </div>
</footer>

{% set js %}
  {% include "scripts.js" %}
{% endset %}
<script>
  {{ js | safe }}
</script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
