<footer class="section has-background-dark has-text-white mt-auto is-fullwidth">
    <div class="container">
        <p class="has-text-centered">
            <span class="has-text-weight-bold">
            Amherst Community Band</span>
            <span> Copyright 2025 </span>
        </p>
    </div>
</footer>

