<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            {# <a class="navbar-item" href="{{ config.url}}"> #}
                <img src="{{ config.logoUrl }}" alt="{{ config.title }}" width="180" height="auto"/>
            {# </a> #}
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {% for item in config.navbarMenu %}
                    <a class="navbar-item">
                        {{item.anchor}}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>