<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body class="is-flex is-flex-direction-column">
    {% include "nav.njk" %}

    <div class="is-flex">
        {{ content | safe }}
    </div>

    {% include "footer.njk" %}

    {% set js %}
        {% include "scripts.js" %}
    {% endset %}
    <script>
        {{ js | safe }}
    </script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>