/* Use logo color as primary color for bulma*/
:root {
  --bulma-primary-h: 3deg;
  --bulma-primary-s: 79%;
  --bulma-primary-l: 55%;
}

/* General */
html {
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

.carousel {
  background: #fff;
  height: 400px;
}

.carousel-cell {
  margin-right: 10px;
  height: 100%;
}

.carousel-cell img {
  display: block;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.pad-bottom {
    margin-bottom: 8em;
}

.downsize-image {
    width: auto;
    height: 50%;
}