/* Use logo color as primary color for bulma*/
:root {
  --bulma-primary-h: 5deg;
  --bulma-primary-s: 79%;
  --bulma-primary-l: 54%;
  --bulma-link-h: 245deg;
  --bulma-link-s: 79%;
  --bulma-link-l: 68%;
  --bulma-info-h: 185deg;
  --bulma-info-s: 79%;
  --bulma-info-l: 68%;
  --bulma-success-h: 65deg;
  --bulma-success-s: 79%;
  --bulma-success-l: 68%;
}
/* Corresponding hex color codes
--color-1: #E63E2F;
--color-1: #EE786D;
--color-2: #E3EE6D;
--color-3: #6DE3EE;
--color-4: #786DEE;
*/

/* General */
html {
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

.carousel {
  height: 400px;
}

.carousel-cell {
  margin-right: 10px;
  height: 100%;
}

.carousel-cell img {
  display: block;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.downsize-image {
    width: auto;
    height: 50%;
}

dl {
    display: flex;
    flex-flow: row wrap;
}

dt {
    flex-basis: 20%;
    font-weight: bold;
}

dd {
    flex-basis: 80%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
}

.is-rounded {
    border-radius: 25px;
}