/* Use logo color as primary color for bulma*/
:root {
  --bulma-primary-h: 3deg;
  --bulma-primary-s: 79%;
  --bulma-primary-l: 55%;
}

/* General */
html {
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

.carousel {
  height: 400px;
}

.carousel-cell {
  margin-right: 10px;
  height: 100%;
}

.carousel-cell img {
  display: block;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.downsize-image {
    width: auto;
    height: 50%;
}

dl {
    display: flex;
    flex-flow: row wrap;
}

dt {
    flex-basis: 20%;
    font-weight: bold;
}

dd {
    flex-basis: 80%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
}