---
title: Oops! Page Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk"%}
    <body class="is-flex is-flex-direction-column">
        <section class="section is-flex-grow-1 has-text-centered">
            <div class="container">
                <h1 class="title has-text-primary">404</h1>
                <h2 class="subtitle">This is not the band you are looking for</h2>
                <div class="columns is-centered is-flex is-vcentered">
                    <div class="column is-half">
                    <img src="/_images/404.jpg">

                        <div class="container">
                            <a class="button is-large is-primary" href="/index/">Go home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>