---
layout: page.njk
title: About us
description: About the Amherst Community Band's history playing in Amherst, Massachusetts.
---
<section class="section is-centered">
<h1 class="title is-1 has-text-centered">About Us</h1>
<div class="container pb-4">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">History</h2>

            <div class="columns">
                <div class="column">
                    <p>
                    The Amherst Community Band has a long and varied history.  Musicians and audiences have supported band music in public spaces since the mid 1900’s.  Most of the early performances focused on music for the Fourth of July celebrations.<br><br>

                    In the 1950’s, Professor Joseph Contino (University of Massachusetts) organized a small group of local musicians to play for the Fourth of July Fireworks.  The group called the Amherst Community Band (ACB) continued to practice together and performed a series of Friday evening concerts in August on the Amherst Town Common for each summer from 1953-1960. In 1961, the Professor Contino moved the concerts to Sunday evenings in August at the Community Field near Amherst Regional High School so that they could use electricity to power the microphone system. However, that lasted only one year. The next conductor of the band, Norinne Jacobus, moved the concerts back to the Town Common on Sunday evenings in August for 1962 and 1963.  The in 1964 and 1965, the concerts moved to Friday evenings on the Amherst Town Common.</p>
                </div>
                <div class="column is-one-third">
                    <figure class="is-rounded">
                        <img src="/_images/The_Republican_1954_07_29.png" alt="Clipping from July 29, 1954 from The Republican (Springfield MA): Band Concerts, Amherst, July 29 - The first band concert of the 1954 season will be given by the Amherst Community Band Friday, Aug. 6 at 8 p.m. on the town common. With good weather it is expected the community will turn out in large numbers to enjoy it. Last year the concerts were well received and this year the band is larger and again under the direction of Joseph Contino of the University of Massachusetts has been well trained. Rehearsals have been held weekly during the past two months. The concerts will be continued each Friday night throughout August."/>
                        <figcaption>Clipping from July 29, 1954 from The Republican (Springfield MA)</figcaption>
                    </figure>
                </div>
            </div>
            <p>
            There was a gap in the existence of ACB from 1966 to 1979.  A student at UMass tried to restart the group in 1973, but no records could be found of the band during this period.  In 1978, Amherst Leisure Services looked into supporting a band, but it wasn't until the following year that Gerald Grady (UMass Community Relations specialist) and William Venman (UMass School of Education and founder of Valley Light Opera) made strong effort to revive the Amherst Community Band.<br><br>
            In 1979, with William Venman as the conductor, the newly revived ACB played for the annual Fourth of July Fireworks celebration.  Band members volunteered to continue with the band and played a few concerts on the Amherst Town Common.<br><br>
            In the following years, the band played for the Fourth of July celebrations.  ACB played concerts in various parks and locations around the town but usually played the last concert of the season at the South Amherst Common. During the period from 1981 to 1987, the Band had several different conductors: William Venman, John Jenkins (UMass), Jeanne Phillips, Andy Phillips, Michael Greenebaum, Douglas Purcell, Lewis Spratlan (Amherst College), Emanuel Rubin (UMass).  All these conductors had strong ties to the community whether it be the public schools, Amherst College or the University of Massachusetts, and also sometimes played in the band.  The co-founders, William Venman and Gerald Grady remained part of the ACB organization during all of this.<br><br>
            From 1988 through 1994, the band was conducted by Professor David Sporny from UMass.  Gerry Grady and Joyce Rice were the contact people for anyone interested in joining the ACB.  Dave generated a lot of energy in the band.  However, the logistical problems of locating the music, getting chairs and stand to the concert locations, and trying to improvise a sound system at the various concert locations proved very difficult.<br><br>
            After Dave Sporny stepped back from the band, the ACB had many different guest conductors.  Several familiar faces stepped up for 1 or two years each: Joe Contino, John Jenkins, Doug Purcell.  Juli Holmes took over the reins for the ACB from 1998-2002 and then there were more guest conductors including Ken Michna, Brian Messier, and Bill Venman (again) who kept the band going.<br><br>
            When Dr. James Miller was named as Wind Ensemble professor at UMass in 2010, he was recruited by John Jenkins to lead the ACB.  He and his wife Heidi shared the podium for that summer and the next.  The band worked under this pair for a few years.  It was during this period that band co-founder Gerry Grady passed away.<br><br>
            The summer of 2014 brought Dr. Timothy Todd Anderson (TTA) to the Amherst Community Band. TTA’s high level of energy reinvigorated the band.  Many of his UMass Marching Band students who had remained in the area pre- and post- graduation found a comfortable playing opportunity with the ACB.  The ACB started to grow.  The Business Improvement District (BID) of Amherst joined forces with TTA to promote the summer concerts across Amherst.  Eventually, through the guidance of TTA, the concerts focused on Sweetser Park as the location for all the ACB summer concerts.
            </p>
            <br>
            <br>
            <figure class="is-rounded">
                <img src="/_images/Daily_Hampshire_Gazette_1990_07_05.png", alt="Daily Hampshire Gazette feature from July 5, 1990 about the Amherst Community Band playing during fireworks. Caption reads: Masked marches: Sam Trussell, visiting from Virginia, leads cousins Karlen and Amanda Powell of Veron, Conn., in an impromptu march to the music of the Amherst Community Band. Last night, several thousand people viewed fireworks at the University of Massachusetts playing fields by the south-west dormitories. The Amherst Chamber of Commerce paid for the $5,000 fireworks display with donations from area business.">
                <figcaption>Daily Hampshire Gazette feature from July 5, 1990 about the Amherst Community Band playing during fireworks.</figcaption>
            </figure>
            <br>
        </div>
    </div>
</div>
</section>
<section>
<div class="container pb-4">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">Board</h2>
            <dl>
                <dt>President</dt>
                <dd>John Decker</dd>

                <dt>Vice President</dt>
                <dd>Kevin Collins</dd>

                <dt>Treasurer</dt>
                <dd>Marilyn Decker</dd>

                <dt>Secretary</dt>
                <dd>Rachel Bellenoit</dd>

                <dt>Website</dt>
                <dd>Virginia Partridge</dd>
            </dl>
            <br>
            <div class="container has-text-centered ">
                        <a class="button is-large is-primary has-text-white has-text-weight-bold" href="https://forms.gle/m4ShiaED5SgKBNuz5">Request website updates here</a>
            <br>
        </div>
        <div>
    </div>
</div>



</section>