---
layout: page.njk
title: About us
---
<section class="section is-centered">
<h1 class="title is-1 has-text-centered">About Us</h1>
<div class="container pb-4">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">History</h2>
                <p>The Amherst Community Band has a long and varied history.  Musicians and audiences have supported band music in public spaces since the mid 1900’s.  Most of the early performances focused on music for the Fourth of July celebrations.<br><br>
                In the 1950’s, Professor Joseph Contino (University of Massachusetts) organized a small group of local musicians to play for the Fourth of July Fireworks.  The group called the Amherst Community Band (ACB) continued to practice together and performed a series of Friday evening concerts in August on the Amherst Town Common for each summer from 1953-1960. In 1961, the Prof. Contino moved the concerts to Sunday evenings in August at the Community Field near Amherst Regional High School so that they could use electricity to power the microphone system. However, that lasted only one year. The next conductor of the band, Norinne Jacobus, moved the concerts back to the Town Common on Sunday evenings in August for 1962 and 1963.  The in 1964 and 1965, the concerts moved to Friday evenings on the Amherst Town Common.<br><br>
                There was a gap in the existence of ACB from 1966 to 1979.  A student at UMass tried to restart the group in 1973 but no records could be found of the band during this period.  In 1978, Amherst Leisure Services looked into supporting a band but it wasn’t until the next year that Gerald Grady (UMass Community Relations specialist) and William Venman (UMass School of Education and founder of Valley Light Opera) made strong effort to revive the Amherst Community Band.<br><br>
                In 1979, with William Venman as the conductor, the newly revived ACB played for the annual Fourth of July Fireworks celebration.  Band members volunteered to continue with the band and played a few concerts on the Amherst Town Common.<br><br>
                In the following years, the band played for the Fourth of July celebrations.  ACB played concerts in various parks and locations around the town but usually played the last concert of the season at the South Amherst Common. During the period from 1981 to 1987, the Band had several different conductors: William Venman, John Jenkins (UMass), Jeanne Phillips, Andy Phillips, Michael Greenebaum, Douglas Purcell, Lewis Spratlan (Amherst College), Emanuel Rubin (UMass).  All these conductors had strong ties to the community whether it be the public schools, Amherst College or the University of Massachusetts and also sometimes played in the band.  The co-founders, William Venman and Gerald Grady remained part of the ACB organization during all of this.<br><br>
                From 1988 through 1994, the band was conducted by Prof. David Sporny from UMass.  Gerry Grady and Joyce Rice were the contact people for anyone interested in joining the ACB.  Dave generated a lot of energy in the band. However, the logistical problems of locating the music, getting chairs and stand to the concert locations, and trying to improvise a sound system at the various concert locations proved very difficult.<br><br>
                After Dave Sporny stepped back from the band, the ACB had many different guest conductors.  Several familiar faces stepped up for 1 or two years each: Joe Contino, John Jenkins, Doug Purcell.  Juli Holmes took over the reins for the ACB from 1998-2002 and then there were more guest conductors including Ken Michna, Brian Messier, and Bill Venman (again) who kept the band going.<br><br>
                When Dr. James Miller was named as Wind Ensemble professor at UMass in 2010, he was recruited by John Jenkins to lead the ACB.  He and his wife Heidi shared the podium for that summer and the next.  The band worked under this pair for a few years.  It was during this period that band co-founder Gerry Grady passed away.<br><br>
                The summer of 2014 brought Dr. Timothy Todd Anderson (TTA) to the Amherst Community Band. TTA’s high level of energy reinvigorated the band.  Many of his UMass Marching Band students who had remained in the area pre- and post- graduation found a comfortable playing opportunity with the ACB.  The ACB started to grow.  The Business Improvement District (BID) of Amherst joined forces with TTA to promote the summer concerts across Amherst.  Eventually, through the guidance of TTA, the concerts focused on Sweetser Park as the location for all the ACB summer concerts.
                <br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">Leader Timothy Todd Anderson</h2>
            <p>
            Dr. Timothy Anderson is an esteemed and beloved music professor at UMass Amherst during the day. But at night he's the Amherst Community Band's fearless band leader and an ardent fan of everything that community bands stand for.<br><br>

            "I'm not looking for perfection," Tim says of the Amherst Community Band. "I want all of us to play challenging music that inspires, while making sure we're all having a good time."<br><br>

            He has the perfect recipe for making great music. It's not unusual to find Tim on the podium cracking wise about an arranger, dancing badly to a Michael Jackson medley or telling little known secrets about a classical composer's life that actually makes them seem normal, not mythical.<br><br>

            Make a mistake? Tim is the first one to laugh whether it's his or someone else's. Play a solo? Tim is quick to point the person out by name while calling for applause from fellow band members.<br><br>

            During performances you'll find Tim wearing his signature Stetson straw hat, and he's not above pulling out props like a large white-tipped black wand to conduct "That Old Black Magic or "The Wiz". If his three-year old wanders to the podium he'll pick her up and continue conducting without missing a beat.<br><br>

            Since Tim started leading, the band has tripled in size–brimming with members from high school sophomores and Tim's former students, to music teachers and seniors returning to their instruments in retirement.<br><br>

            "I stopped playing my french horn in 1979," said John Decker, who joined the band in 2024. "At six o'clock on Monday nights, ACB  is the only place I want to be."<br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">Board</h2>
            <dl>
                <dt>President</dt>
                <dd>John Decker</dd>

                <dt>Vice President</dt>
                <dd>Kevin Collins</dd>

                <dt>Treasurer</dt>
                <dd>Marilyn Decker</dd>

                <dt>Secretary</dt>
                <dd>Rachel Bellenoit</dd>

                <dt>Website</dt>
                <dd>Virginia Partridge</dd>
            </dl>
        </div>
    </div>
</div>
</section>