---
layout: page.njk
title: About us
---
<section class="section is-centered">
<h1 class="title is-1 has-text-centered">About Us</h1>
<div class="container pb-4">
    <div class="columns is-flex is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">Leader Timothy Todd Anderson</h2>
            <p>
            Dr. Timothy Anderson is an esteemed and beloved music professor at UMass Amherst during the day. But at night he's the Amherst Community Band's fearless band leader and an ardent fan of everything that community bands stand for.<br><br>

            "I'm not looking for perfection," Tim says of the Amherst Community Band. "I want all of us to play challenging music that inspires, while making sure we're all having a good time."<br><br>

            He has the perfect recipe for making great music. It's not unusual to find Tim on the Podium cracking wise about an arranger, dancing badly to a Michael Jackson medley or telling little known secrets about a classical composer's life that actually makes them seem normal, not mythical.<br><br>

            Make a mistake? Tim is the first one to laugh whether it's his or someone else's. Play a solo? Tim is quick to point the person out by name while calling for applause from fellow band members.<br><br>

            During performances you'll find Tim wearing his signature Stetson straw hat. And he's not above pulling out props like a large white-tipped black wand to conduct "That Old Black Magic or "The Wiz" If his three-year old wanders to the podium he'll pick her up and continue conducting without missing a beat.<br><br>

            Since Tim started leading, the band has tripled in size–brimming with members from high school sophomores and Tim's former students, to music teachers and seniors returning to their instruments in retirement.<br><br>

            "I stopped playing my french horn in 1979," said John Decker, who joined the band in 2024. "At six o'clock on Monday nights, ACB  is the only place I want to be."</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns is-flex is-centered">
        <div class="column is-three-quarters">
            <h2 class="title">Board</h2>
            <dl>
                <dt>President</dt>
                <dd>John Decker</dd>

                <dt>Treasurer</dt>
                <dd>Marilyn Decker</dd>

                <dt>Vice President</dt>
                <dd>Kevin Collins</dd>

                <dt>Secretary</dt>
                <dd>Rachel Bellenoit</dd>

                <dt>Website</dt>
                <dd>Virginia Partridge</dd>
            </dl>
        </div>
    </div>
</div>
</section>