---
layout: wide-page.njk
title: Community Music Links
description: Approved links to community bands, adult music groups, and related music opportunities in Western Massachusetts.
intro: Community band links for neighboring towns in Western Massachusetts.
---
<section class="content">
    <h2 class="title is-3">Area Community Bands</h2>
    <dl>
        <dt><a href="https://www.facebook.com/pages/Greater-Chicopee-Area-Community-Concert-Band/117247554973941" target="_blank" rel="noopener noreferrer">Chicopee Community Band</a></dt>
        <dd>Chicopee, Massachusetts</dd>

        <dt><a href="https://www.facebook.com/pages/Ludlow-Community-Band/150810815037662" target="_blank" rel="noopener noreferrer">Ludlow Community Band</a></dt>
        <dd>Ludlow, Massachusetts</dd>

        <dt><a href="https://www.facebook.com/MontagueCommunityBand/" target="_blank" rel="noopener noreferrer">Montague Community Band</a></dt>
        <dd>Hannah Smeltz, Director</dd>

        <dt><a href="https://www.facebook.com/groups/128378920513727/" target="_blank" rel="noopener noreferrer">Amherst Community Band</a></dt>
        <dd>Amherst, Massachusetts</dd>

        <dt><a href="http://www.belchertowncommunityband.org" target="_blank" rel="noopener noreferrer">Belchertown Community Band</a></dt>
        <dd>Belchertown, Massachusetts</dd>

        <dt><a href="http://www.florencecommunityband.com/" target="_blank" rel="noopener noreferrer">Florence Community Band</a></dt>
        <dd>Florence/Northampton, Massachusetts</dd>

        <dt><a href="http://www.orangechorusandband.com/" target="_blank" rel="noopener noreferrer">Orange Community Band</a></dt>
        <dd>Orange, Massachusetts</dd>

        <dt><a href="https://www.holyoke.org/departments/council-on-aging/" target="_blank" rel="noopener noreferrer">Senior Concert Band of Western Massachusetts</a></dt>
        <dd>Holyoke, Massachusetts</dd>
        <dd><a href="http://sward.smugmug.com/gallery/5852271_sLpvz#363240563_piwKs" target="_blank" rel="noopener noreferrer">Photos of Senior Concert Band of Western Massachusetts</a></dd>

        <dt><a href="https://www.facebook.com/greenfieldmilitaryband1904/" target="_blank" rel="noopener noreferrer">Greenfield Military Band</a></dt>
        <dd>Greenfield, MA</dd>

        <dt><a href="https://www.facebook.com/pages/Shelburne-Falls-Military-Band/167445626648289" target="_blank" rel="noopener noreferrer">Shelburne Falls Military Band</a></dt>
        <dd>Shelburne Falls, MA</dd>

        <dt><a href="http://www.gwcb.org/" target="_blank" rel="noopener noreferrer">Greater Westfield Community Band</a></dt>
        <dd>Westfield, Massachusetts</dd>

        <dt><a href="https://www.facebook.com/p/Quabbin-Community-Band-100054604953636/" target="_blank" rel="noopener noreferrer">Quabbin Community Band</a></dt>
        <dd>Barre, Massachusetts</dd>
    </dl>

    <p class="mt-4"><a href="{{ '/' | withBase }}">Return to Home</a></p>
</section>