---
layout: page.njk
title: Join the Amherst Community Band!
---
<section class="section is-flex-grow-1">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-two-thirds">
                <section class="section">
                <h1 class="title is-1">Help us Build a Better Band</h1>
                <div class="container pb-5">
                    <p>It takes a lot to operate a community band. We play about 12 songs per show at a cost of about $100 to buy a single tune. Add signage and transportation and you can see how donations are so vital to the Amherst Community Band. Help us keep the music playing...</p>
                </div>
                <div class="container has-text-centered">
                    {# TODO: Put in the link! #}
                    <a class="button is-large is-primary">Donate on Zeffy!</a>
                </div>
                </section>
            </div>
            <div class="column is-one-quarter">
                <img src="/_images/tuba_crane.png" class="downsize-image is-rounded">
            </div>
        </div>
    </div>
</section>