---
layout: content-page.njk
title: Donate to the Amherst Community Band
description: Donate to the Amherst Community Band on Zeffy!
---
<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        <div class="container pb-5">
            <p>It takes a lot to operate a community band. We play about 12 songs per show at a cost of about $100 to buy a single tune. Add signage and transportation and you can see how donations are so vital to the Amherst Community Band. Help us keep the music playing...</p>
        </div>
        <div class="container has-text-centered">
            <a class="button is-large is-primary has-text-white has-text-weight-bold" href="https://www.zeffy.com/donation-form/keep-the-music-playing">Donate on Zeffy!</a>
            <br>
            <br>
            <img src="{{ '/_images/acb_zeffy_qr.png' | withBase }}" alt="QR code to Donate on Zeffy" loading="lazy" width="200">
        </div>
    </div>
    <div class="column is-one-quarter">
        <figure>
            {% image "src/_images/tuba_crane.png", "Tuba being lifted by a crane", "(min-width: 1024px) 25vw, (min-width: 768px) 33vw, 100vw", "has-soft-corners" %}
        </figure>
    </div>
</div>
