---
layout: page.njk
title: Join the Amherst Community Band!
---
<div class="container has-text-centered">
    <div class="columns is-flex is-vcentered">
        <div class="column is-two-thirds">
            <section class="section">
            <h1 class="title is-1">Help us Build a Better Band</h1>
            <div class="container pad-bottom">
                <p>It takes a lot to operate a community band. We play about 12 songs per show at a cost of about $100 to buy a single tune. Add signage and transportation and you can see how donations are so vital to the Amherst Community Band. Help us keep the music playing...</p>
            </div>
            <div class="container">
                <a class="button is-large is-primary">Donate</a>
            </div>
            </section>
        </div>
        <div class="column is-one-quarter">
            <img src="/_images/tuba_crane.png" class="downsize-image">
        </div>

    </div>
</div>