---
layout: page.njk
title: Amherst Community Band

---
<section class="section is-flex-grow-1 has-text-centered">
    <div class="container">
        <div class="carousel"
        data-flickity='{ "imagesLoaded": true, "percentPosition": false, "lazyLoad": true }'>
            {% for slide in config.carouselImages %}
            <div class="carousel-cell">
                <img src="{{ slide.imgPath}}" alt="{{ slide.altText }}" />
            </div>
            {% endfor %}

        </div>
    </div>
</section>