---
layout: page.njk
title: Amherst Community Band

---
<section class="section is-flex-grow-1 has-text-centered">
    <div class="container">
        <div class="carousel"
        data-flickity='{"lazyLoad": true, "setGallerySize":true}'>
            {% for slide in config.carouselImages %}
            <div class="carousel-cell">
                <p>{{ slide.caption|safe }}</p>
                <img src="{{ slide.imgPath}}" alt="{{ slide.altText }}" />
            </div>
            {% endfor %}

        </div>
    </div>
</section>