---
layout: page.njk
title: Amherst Community Band
description: The homepage of the Amherst Community Band from Amherst, Massachusetts.
---
<section class="hero mt-0">
    <div class="hero-body pt-0">
        <div class="carousel"
        data-flickity='{"setGallerySize":true}'>
            {% for slide in config.carouselImages %}
                <div class="carousel-cell">
                    <p class="is-size-4 has-text-centered">{{ slide.caption|safe }}</p>
                    {% image "src" + slide.imgPath, slide.altText, "(min-width: 768px) 50vw, 100vw" %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-background-info-light p-3 is-rounded">
        <h2 class="has-text-centered">Amherst Community Band Seeks Guest Conductors for 2026 Summer Season</h2>
        <br>
        <p>Big changes are in the offing for the 2026 summer season of the Amherst Community Band.
With a new board of directors and a generous contribution from the Amherst and Massachusetts  Cultural Councils, the hundred-member band is seeking qualified guest conductors for the upcoming season. <q> With the award from the cultural council, we’re able to offer a small stipend to guest conductors,</q> said John Decker, president of the newly formed Board of Directors.</p><br>
        <p>Concerts at Sweetser Park in Amherst Center are scheduled for 6:00 pm on June 27,  July 25th, and August 15, and promoted by the Business Improvement District (BID) of Amherst. Additional appearances include a performance at the annual Fourth of July fireworks display on July 3, and a “Best Of Season” finale concert on August 18 at the South Amherst Common. <q>Because we’re in the middle of five colleges, all with extensive music programs, we know there are many potential conductors in the area,</q> Decker said. <q>Our goal is to eventually select a permanent conductor for the 2027 season,</q> he continued.</p><br>
        </p>To apply to be a guest conductor, fill out our <a href="https://docs.google.com/forms/d/17JfHywMIeA4lKudaW4p4YNmaXVIOtP1hwrttv2Kv9NE/edit">Google Form</a> or email <a href="mailto:info@amherstband.org">info@amherstband.org</a>.</p>
    </div>

</section>

<section class="section">
    <div class="columns">
        <div class="column is-flex">
            <div class="container has-background-primary-light has-text-centered p-5 is-rounded">
                <p>The Amherst Community Band is made up of high school students, college students, and adults, some of whom are in their 80's!  Whether you play right now, or you haven’t played in years, you’ll feel right at home at ACB. Best of all we're audition free!</p>
                <br>
                <div class="container has-text-centered">
                    <a class="button" href="/join/">Join Us!</a>
                </div>
            </div>
        </div>
        <div class="column is-flex">
            <div class="container has-background-grey-lighter has-text-centered p-5 is-rounded">
                <p>Our band is always under construction.  Help us buy music, rent trucks and make music in our community with your generous online contributions!</p>
                <br>
                <div class="container has-text-centered">
                    <a class="button" href="https://www.zeffy.com/donation-form/keep-the-music-playing">Donate on Zeffy!</a>
                </div>

            </div>
        </div>
        <div class="column is-flex">
            <div class="container has-background-success has-text-centered p-5 is-rounded">
                <p>We play concerts in Amherst, MA all summer long and have a holiday concert in December! All concerts are free and open to the public. After all, without an audience, it's only a rehearsal!</p>
                <br>
                <div class="container has-text-centered">
                    <a class="button" href="/schedule/">See us play!</a>
                </div>

            </div>
        </div>
    </div>
</section>