---
layout: page.njk
title: Join the Amherst Community Band!
description: How to join the Amherst Community Band.
---
<section class="section is-flex-grow-1">
    <h1 class="title is-1 has-text-centered">We Want You!</h1>
    <div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <img src="/_images/uncle_sam_trumpet.jpg" alt="Uncle Sam playing trumpet illustration" class="is-rounded">
        </div>
        <div class="column">

            <div class="container p-4">
            <p>The Amherst Community Band features musicians of all abilities and ages from enthusiastic amateurs to professionals, music teachers, middle and high school students, college students, and retirees. Membership is open to all who are interested and no audition is required. <br><br>Come play with us. There's <i>no audition</i>! Simply join a rehearsal listed on our <a href="/members/">members page</a>.</p>
            </div>
        </div>
    </div>
    </div>
<section>