---
layout: page.njk
title: Join the Amherst Community Band!
---
<section class="section">
<h1 class="title has-text-centered is-1">We Want You!</h1>
<div class="columns">
    <div class="column is-one-third">
        <img src="/_images/uncle_sam_trumpet.jpg">
    </div>
    <div class="column has-text-centered">
        <p>The ACB has retired pro players, a few music teachers, kids in college and high schools, as well as many seniors. Come play with us. There's <i>no audition</i>!</p>
        <br>
        <h2 class="title is-2">Rehearsals</h2>
        <h3 class="title">Where</h3>
        <p>George N. Parks Minute Man Marching Band Building<br>110 Grinnell Way<br>Amherst, MA  01003</p>
        <a href="https://maps.app.goo.gl/GZFks1MQdtiHWw9TA">Google Maps</a>
    </div>
</div>