---
layout: page.njk
title: Performances
---
<section class="section is-flex-grow-1">
    <h1 class="title is-1 has-text-centered">Performances</h1>
    <div class="columns">
        <div class="column is-one-half">
        {% for category in config.concerts %}
            <h2 class="title is-2">{{ category.label }}</h2>
            {% for concert in category.schedule_items %}
                <h4 class="title is-4">{{ concert.date_and_time}}</h4>
                {% if concert.concert_name %}
                    <h6 class="subtitle is-6 mb-0">{{ concert.concert_name }}</h6>
                {% endif %}
                <p>{{ concert.location }}</p>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="column is-one-half is-vcentered">
            <figure class="image is-4by3">
                <iframe class="has-ratio" width="640" height="390" src="https://www.youtube.com/embed/Ip_l4Xkx-84?si=pu06PLu09FGJQytm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </figure>
        </div>
    </div>
<section>